.booking {
    text-align-last: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.booking-text {
    font-size: var(--size-body);
    margin-bottom: 80px;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    color: gray;
}

.arrow {
    background-image: url(../images/down.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 12px 12px;
}