.hero-slide {
    min-height: 900px;
    min-width: 1200px;
    background-image: url(../images/1.jpg);
    background-repeat: no-repeat;
    background-position: center -720px;
    background-size: 100%;
}

.hero-text {
    padding-top: 130px;
    text-align: center;
    color: black;
}

.hero-logo {
    margin-bottom: -30px;
    img {
    height: 140px;
    width: auto;
    }
}

.hero-title {
    font-family: var(--font2);
    font-size: var(--size-misushi);
}

.hero-description, .hero-button {
    margin-left: auto;
    margin-right: auto;
}

.hero-description {
    font-size: var(--size-nav);
    width: 300px;
}

.hero-button {
    height: 42px;
    width: 212px;
    background-color: var(--orange);
    border-radius: 20px;
    margin-top: 100px;
    padding: 10px 0 10px 0;

    a{
        text-decoration: none;
        color: white;
    }
}

.home-stuff {
    background-color: white;
}

.stuff {
    max-width: 100%;
    display: flex;
}

.stuff-box, .stuff-img {
    text-align: center;
    height: 800px;
    width: 50%;
}

.stuff-box {
    padding: 200px 100px 200px 100px;
    font-size: var(--size-body);
}

.stuff-title {
    font-family: var(--font2);
    font-size: var(--size-title);
    color: var(--orange);
}

.stuff-img {
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 170%;
}

.lightorange {
    background-color: var(--lightorange);
}

.title2 {
    font-family: var(--font2);
    font-size: var(--size-title2);
    color: var(--orange);
}

.stuff-img2 {
    background-image: url(../images/3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 170%;
}

.stuff-button {
    height: 42px;
    width: 140px;
    background-color: var(--orange);
    border-radius: 20px;
    padding: 2px 0 5px 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;

    a{
        text-decoration: none;
        color: white;
        font-size: var(--size-s);
    }
}
