.hero-slide {
    min-height: 900px;
    min-width: 1200px;
    background-image: url(../images/1.jpg);
    background-repeat: no-repeat;
    background-position: center -720px;
    background-size: 100%;
}