.nav {
    display: flex;
    margin: 20px 0 0 0;
    align-items: center;
    border-bottom: 1px solid var(--lightgray);

    a {
        text-decoration: none;
        color: #9D9D9D;
        font-family: 'Circular Std', serif;
        text-transform: uppercase;
        font-size: var(--size-nav);
        margin-right: 2.5rem;
        display: inline-block;
    }

    a.activo {
        border-bottom: 2px solid;
        font-weight: bold;
        color: var(--orange);
    }

}

.nav-links {
    margin-left: auto; 
}

.shopping {
  img{
    width: auto;
    height: 70px;
  }
}

.logo {
    margin-left: 60px;

    img {
      width: auto;
      height: 90px;
    }
}

.nav-phone {
    display: none;
}

@media (max-width: 1000px) { 

  .nav { display: none }

  .nav-phone {
      display: flex;
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--lightgray);
  }
  .menu-nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 550px;
    background-color: white;
    padding: 100px 1rem 1rem 1rem;
    text-align: center;
    transform: translateX(-550px);
    transition: transform .3s;
    border-right: 1px solid var(--lightgray);

      img{
        width: auto;
          height: 70px;
      }
  }
  
  .menu-nav.visible{
    transform: translateX(0);
  }
  
  .menu-nav ul{
    list-style: none;
    padding-inline-start: 0;
  }
  
  .menu-nav li{
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--orange);
  }

  .menu-nav li:first-child{
    border-top: 1px solid var(--orange);
    padding-top: 20px;
  }
  
  .menu-nav a{
    color: var(--orange);
    font-family: var(--font1);
    font-size: var(--size-body);
    text-decoration: none;
  }
  
  .show-menu{
    background-color: transparent;
    padding: .5rem 1rem;
    border: 0;
    border-radius: .3rem;
    cursor: pointer;
    margin-right: auto;

    img{
        width: auto;
        height: 45px;
    }
  }
  
  .close-menu{
    background-color: transparent;
    border: 0;
    padding: 0;
    color: var(--orange);
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 5rem;
    top: 0;
  }


  .socialmedia-nav {
    display: flex;
    margin-top: 200px;
    text-align: center;
    padding-left: 110px;
    padding-right: 100px;
  }

  .social-nav {
    height: 60px;
    width: 60px;
    border: 2px solid var(--orange);
    border-radius: 100%;
    padding: 15px 0 10px 0;
    margin-right: 15px;

    img{
        max-height: 24px;
        max-width: 24px;
    }
  }

  .logo-phone {
      margin-left: auto;
      margin-right: auto;

      img{
          width: auto;
          height: 70px;
      }
  }

  .shopping-phone {
    margin-left: auto;
  
    img{
      width: auto;
      height: 70px;
    }
  }



}