.nav {
    display: flex;
    margin: 20px 0 0 0;
    align-items: center;
    border-bottom: 1px solid var(--lightgray);

    a {
        text-decoration: none;
        color: #9D9D9D;
        font-family: 'Circular Std', serif;
        text-transform: uppercase;
        font-size: var(--size-nav);
        margin-right: 2.5rem;
        display: inline-block;
    }

    a.activo {
        border-bottom: 2px solid;
        font-weight: bold;
        color: var(--orange);
    }

}

.nav-links {
    margin-left: auto; 
    margin-right: 30px;
}

.logo {
    margin-left: 60px;

    img {
      width: auto;
      height: 90px;
    }
}

.nav-phone {
    display: none;
}

@media (max-width: 700px) { 

  .nav { display: none }

  .nav-phone {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .menu-nav{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background-color: white;
    padding: 1rem 2rem;
    transform: translateX(250px);
    transition: transform .3s;
  }
  
  .menu-nav.visible{
    transform: translateX(0);
  }
  
  .menu-nav ul{
    list-style: none;
    padding-left: 0;
  }
  
  .menu-nav li{
    margin-bottom: 1rem;
  }
  
  .menu-nav a{
    color: var(--lightgray);
    font-family: var(--font1);
    text-decoration: none;

  }
  
  .show-menu{
    background-color: transparent;
    padding: .5rem 1rem;
    border: 0;
    border-radius: .3rem;
    cursor: pointer;
    margin-right: auto;

    img{
        width: auto;
        height: 45px;
    }
  }
  
  .close-menu{
    background-color: transparent;
    border: 0;
    padding: 0;
    color: var(--orange);
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 0;
  }

  .logo-phone {
      margin-left: auto;
      margin-right: auto;

      img{
          width: auto;
          height: 70px;
      }
  }

  .shopping-phone {
    margin-left: auto;
  
    img{
      width: auto;
      height: 70px;
    }
  }



}