.shop-top {
    font-family: var(--font2);
    font-size: var(--size-title);
    color: var(--orange);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.shop-info, .product, .product-bottom, .prices, .total-price, .discount-boxes {
    display: flex;
}

.shop-product {
    width: 60%;
    margin-left: 150px;
    margin-bottom: 100px;
}

.product {
    width: 600px;
    margin-top: 50px;
}

.product-img {
    max-width: 230px;
    max-height: 230px;
    margin-right: 20px;

    img{ height: 100%; }
}

.product-info {
    width: 350px;
}

.product-title {
    color: var(--orange);
    font-weight: bold;
    font-size: var(--size-body);
    margin-top: 5px;
}

.product-text {
    margin-top: 20px;
    width: 200px;
}

.product-bottom, .prices {
    margin-top: 50px;
}

.product-quantity {
    margin-left: auto;
}

.box-shop {
    width: 100px;
    height: 25px;
    padding-left: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    border: 2px solid var(--orange);
}


.shop-price {
    width: 40%;
    display: block;
    padding: 50px;
    margin-right: 130px;
    margin-left: 20px; 
}

.price-box {
    padding: 50px;
    border-radius: 20px;
}

.discount {
    font-weight: bold;
    color: var(--orange);
    font-size: var(--size-s);
}

.discount-box {
    margin-top: 3px;
    width: 250px;
    height: 42px;
    padding-left: 10px;
    border-radius: 10px;
    text-align: left;
    font-size: 16px;
    font-family: var(--font1);
    border: 2px solid var(--orange);
}

.add-button {
    margin-top: 3px;
    margin-left: 10px;
    padding-top: 9px;
    width: 110px;
    height: 42px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--orange);
    border: 2px solid var(--orange);

    a {
        text-decoration: none; 
        font-size: 16px;
        font-weight: bold;
        color: white;
        font-family: var(--font1);
    }
}

.prices {
    font-size: var(--size-s);
}

.prices-number {
    margin-left: auto;
}

.total-price {
    font-weight: bold;
    font-size: var(--size-nav);
    color: var(--orange);
    margin-top: 40px;
}

.checkout-button {
    background-color: var(--orange);
    margin-top: 20px;
    padding-top: 9px;
    width: 100%;
    height: 42px;
    border-radius: 20px;
    text-align: center;

    a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

}

