html {

    /* COLORES */
    --color-fondo-body: white;
    --color-texto-body: #3C3C3C;
    --orange: #E87B3A;

    /* FONT FAMILY */
    --font1: 'Circular Std', sans-serif;
    --font2: 'Happy Camper';

    /* FONT SIZES */
    --size-nav: 20px;
    --size-misushi: 100px;
    --size-title: 80px;
    --size-body: 25px;
}