  <script src="/scripts/index.js"></script>

<div class="footer">

  <div class="footer1">

    <a href="/">HOME</a>
    <a href="/about/">ABOUT US</a>
    <a href="/order/">ORDER ONLINE</a>
    <a href="/booking/">BOOKING</a>
    <a href="/contact/">CONTACT</a>

  </div>


  <div class="footer2">

    <a href="">TERMS AND CONDITIONS</a>
    <a href="">PRIVACY POLICY</a>
    <a href="">COOKIES POLICY</a>

  </div>


  <div class="footer3">
    
    <div class="socialmedia">

    <div class="social"><a href=""><img src="../images/twitter.png" alt=""></a></div>
    <div class="social"><a href=""><img src="../images/facebook.png" alt=""></a></div>
    <div class="social"><a href=""><img src="../images/instagram.png" alt=""></a></div>
    <div class="social"><a href=""><img src="../images/google.png" alt=""></a></div>

    </div>

    <p class="copyright">Copyright © 2019 Angie Xu<br> All rights reserved</p>

  </div>

</div>


<!-- FOOTER MEDIA COMPOSICIÓN DIFERENTE -->

<div class="footer-media">

  <div class="footer1-media">

    <a href="/">HOME</a>
    <a href="/about/">ABOUT US</a>
    <a href="/contact/">CONTACT</a>

  </div>


  <div class="footer2-media">

    <div class="socialmedia">

      <div class="social"><a href=""><img src="../images/twitter.png" alt=""></a></div>
      <div class="social"><a href=""><img src="../images/facebook.png" alt=""></a></div>
      <div class="social"><a href=""><img src="../images/instagram.png" alt=""></a></div>
      <div class="social"><a href=""><img src="../images/google.png" alt=""></a></div>

    </div>

  </div>


  <div class="footer3-media">
    
    <a href="">TERMS AND CONDITIONS</a>
    <a href="">PRIVACY POLICY</a>
    <a href="">COOKIES POLICY</a>

  </div>

  <p class="copyright">Copyright © 2019 Angie Xu<br> All rights reserved</p>

</div>

<!-- FIN DEL FOOTER -->

<script src="../../js/menu.js"></script>

</body>
</html>