---
layout: layouts/base.njk
title: Misushi – About Us
eleventyNavigation:
    key: about
    title: About
---

<div class="about-body">

      <div class="stuff">

            <div class="stuff-box">
            
                <div class="stuff-title">ABOUT US</div>
                <div class="stuff-text"><p>Misushi es un restaurante japónes que recién abrió el 10 de diciembre de 2019.</p> <p>Servimos diferentes tipos de sushi, los cuales están todos deliciosos y wow so nice. Ofrecemos servicio a mesa y servicio a domicilio y tenemos nuestra propia filosofía.</p> <p>Si quieres saber más de nosotros dale al botón que hay abajo.</p></div>

            </div>

            <div class="stuff-img"></div>
        
        </div>

         <div class="about-info lightorange">

            <div class="about-box">
            
                <div class="filosofia">
                    <img src="../images/filosofia.png">
                    <h3>FILOSOFÍA</h3>
                    <p>Comida japonesa recién elaborada con productos de primera calidad, para llevar o a domicilio.</p>
                </div>

                <div class="profesionales">
                    <img src="../images/profesionales.png">
                    <h3>PROFESIONALES</h3>
                    <p>Nuestro equipo de cocina elabora toda nuestra carta de sushi siguiendo un delicado ritual gastronómico.</p>
                </div>

            </div>

            <div class="about-box">
              
                <div class="productos">
                    <img src="../images/productos.png">
                    <h3>PRODUCTOS</h3>
                    <p>Nuestros productos se elaboran con alimentos saludables, locales, frescos y de temporada para garantizar la máxima calidad.</p>
                </div>

                <div class="medioambiente">
                    <img src="../images/medioambiente.png">
                    <h3>MEDIOAMBIENTE</h3>
                    <p>Sólo trabajamos con proveedores que garantizan la trazabilidad, la edad de captura y no generan impacto en el fondo marino.</p>
                </div>

            </div>
        
        </div>


</div>