---
layout: layouts/base.njk
title: Misushi – Contact
eleventyNavigation:
    key: contact
    title: Contact
    order: 4
---

  <div class="contact">
            
                <h2>CONTACT</h2>
                <div class="contact-text"><p>¿Tienes alguna duda o quieres dejar alguna opinión? <br>Escríbenos y te resolveremos el problema:</p></div>

                    <!-- FORMULARIO BOOKING -->
                        <div class="id-info">

                        * Please fill in all required fields

                            <form method="post" action="#">

                                <div class="boxes">
                                    <input type="text" id="nombre" class="box" placeholder="Name *">
                                </div>

                                <div class=boxes>
                                    <input type="text" id="email" class="box" placeholder="E-mail *">
                                </div>

                                <div class="boxes">
                                    <input type="text" id="phone" class="box" placeholder="Phone number *">
                                </div>

                                <div class="boxes">
                                    <textarea type="text" id="phone" class="message" placeholder="Your message *"></textarea>
                                </div>

                            </form>

                                <div class="next-step">
                                    <a href="/">CONFIRM</a>
                                </div>
                        
                        </div>
                    <!-- FIN DEL FORMULARIO BOOKING -->

            </div>


<!-- AQUÍ VA EL MEDIA QUERIE @media (min-width: 600px) and (max-width: 999px) {} -->

<!-- AQUÍ VA EL MEDIA QUERIE 2 @media (min-width: 1000px) {} -->