---
layout: layouts/base.njk
title: Misushi
eleventyNavigation:
    key: home
    title: Home
---

<div class="home-body">

    <div class="hero-slide">

        <div class="hero-text">
            <div class="hero-logo"><img src="images/logo.png"></div>
            <div class="hero-title">MISUSHI</div>
            <div class="hero-description">New restaurant opened in Barcelona City!</div>

            <div class="hero-button"><a href="/contact/">FIND US →</a></div>
        </div>

    </div>
    
    <div class="home-stuff">
    
        <div class="stuff">

            <div class="stuff-box">
            
                <div class="stuff-title">ABOUT US</div>
                <div class="stuff-text"><p>Misushi es un restaurante japónes que recién abrió el 10 de diciembre de 2019.</p> <p>Servimos diferentes tipos de sushi, los cuales están todos deliciosos y wow so nice. Ofrecemos servicio a mesa y servicio a domicilio y tenemos nuestra propia filosofía.</p> <p>Si quieres saber más de nosotros dale al botón que hay abajo.</p></div>
                <div class="stuff-button"><a href="/about/">SEE MORE →</a></div>

            </div>

            <div class="stuff-img"></div>
        
        </div>

         <div class="stuff">

            <div class="stuff-img"></div>

            <div class="stuff-box lightorange">
            
                <div class="stuff-title">DISCOVER</div>
                <div class="stuff-text"><p class="title2">SALMON ROLL</p><p>Rolled salmon with rice <br>and nori, rolled with algas <br>and cangrejo.</p></div>
                <div class="stuff-button"><a href="/order/">ORDER NOW →</a></div>

            </div>
        
        </div>

        <div class="stuff">

            <div class="stuff-box lightorange">
            
                <div class="stuff-title">BOOKING</div>
                 <div class="stuff-text"><p>Reserva tu mesa en Misushi para no tener que <br>esperar, y también nos ayudarás a nosotros a <br>organizarnos mejor. ¡Muchas gracias!</p></div>

            </div>

            <div class="stuff-box">
            
                <div class="stuff-title">CONTACT</div>
                <div class="stuff-text"><p>Reserva tu mesa en Misushi para no tener que <br>esperar, y también nos ayudarás a nosotros a <br>organizarnos mejor. ¡Muchas gracias!</p></div>

            </div>
        
        </div>

        


    
    </div>


</div>

