---
layout: layouts/base.njk
title: Misushi
eleventyNavigation:
    key: home
    title: Home
---

<div class="home-body">

    <div class="hero-slide">

        <div class="hero-text">
            <div class="hero-logo"><img src="images/logo.png"></div>
            <div class="hero-title">MISUSHI</div>
            <div class="hero-description">New restaurant opened in Barcelona City!</div>

            <div class="hero-button"><a href="/contact/">FIND US →</a></div>
        </div>

    </div>


</div>

