---
layout: layouts/base.njk
title: Home – Mi estupenda web
eleventyNavigation:
    key: index
    title: Index
---
<h1>Esta es mi página web: {{siteData.name}}</h1>

<p>
Bienvenido a {{siteData.dominio}}
</p>

<p>
<a href="/portafolio/"> ir al portafolio</a>
</p>

