---
layout: layouts/base.njk
title: Shopping
eleventyNavigation:
    key: shopping
    title: Shopping Cart
    order: 5
---

<div class="shopping">

    <div class="shop-top">Shopping cart</div>

    <div class="shop-info">

        <div class="shop-product">

            <!-- PRODUCT NUMBER 1 -->

            <div class="product">

                <div class="product-img"><img src="../images/7.jpg"></div>

                <div class="product-info">

                    <div class="product-title">Futomaki Crujiente Tempurizado</div>
                    <div class="product-text">Rollo grande de alga nori con arroz, pollo crujiente, aguacate…</div>

                    <div class="product-bottom">
                        <div class="product-price">11.95€</div>
                        <div class="product-quantity">

                         <form method="post" action="#">

                            <div class="quantity">

                                <select id="envio" class="box-shop arrow">
                                <option value="valor1">1</option>
                                <option value="valor2">2</option>
                                <option value="valor3">3</option>
                                <option value="valor4">4</option>
                                <option value="valor5">5</option>
                                <option value="valor6">6</option>
                                </select>

                            </div>

                         </form>
                        
                        </div>
                    </div>
                    
                </div>

            </div>

            
            <!-- PRODUCT NUMBER 2 -->

            <div class="product">

                <div class="product-img"><img src="../images/e.jpg"></div>

                <div class="product-info">

                    <div class="product-title">Maki de Pepino</div>
                    <div class="product-text">Rollo de alga nori con pepino.<br><br><br></div>

                    <div class="product-bottom">
                        <div class="product-price">3.70€</div>
                        <div class="product-quantity">

                         <form method="post" action="#">

                            <div class="quantity">

                                <select id="envio" class="box-shop arrow">
                                <option value="valor1">1</option>
                                <option value="valor2">2</option>
                                <option value="valor3">3</option>
                                <option value="valor4">4</option>
                                <option value="valor5">5</option>
                                <option value="valor6">6</option>
                                </select>

                            </div>

                         </form>
                        
                        </div>
                    </div>
                    
                </div>

            </div>

            <!-- PRODUCT NUMBER 3 -->

               <div class="product">

                <div class="product-img"><img src="../images/ee.jpg"></div>

                <div class="product-info">

                    <div class="product-title">Mochi artesanal de Té Verde</div>
                    <div class="product-text">Harina de arroz con mousse de té verde.<br><br><br></div>

                    <div class="product-bottom">
                        <div class="product-price">4.50€</div>
                        <div class="product-quantity">

                         <form method="post" action="#">

                            <div class="quantity">

                                <select id="envio" class="box-shop arrow">
                                <option value="valor1">1</option>
                                <option value="valor2">2</option>
                                <option value="valor3">3</option>
                                <option value="valor4">4</option>
                                <option value="valor5">5</option>
                                <option value="valor6">6</option>
                                </select>

                            </div>

                         </form>
                        
                        </div>
                    </div>
                    
                </div>

            </div>

            <!-- END OF PRODUCTS -->


        </div>

        <div class="shop-price">
        
            <div class="price-box lightorange">

            <div class="discount">
                 ADD DISCOUNT A CODE

                <form method="post" action="#">

                    <div class="discount-boxes">
                        <input type="text" id="nombre" class="discount-box" placeholder="">
                        <div class="add-button"><a href="">ADD</a></div>
                    </div>

                </form>
            </div>

            <div class="prices">
                <div class="prices-info">Order value: <br> Shipping fee:</div>
                <div class="prices-number">12.70€ <br> 1.00€</div>
            </div>

            <div class="total-price">
                <div class="prices-info">TOTAL:</div>
                <div class="prices-number">13.70€</div>
            </div>

            <div class="checkout-button"><a href="/">CHECKOUT</a></div>

            </div>

        </div>
        
    </div>




</div>